<mat-tab-group #tabGroup style="margin-left: 50px; width: 65%" [selectedIndex]="1">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="margin: 4px">calendar_today</mat-icon>
      Exhibitors
    </ng-template>
    <br>
   
    
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="margin: 4px">shopping_basket</mat-icon>
      Sales
    </ng-template>
    <br>

   
    
 
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="margin: 4px">date_range</mat-icon>
      Program
    </ng-template>

  </mat-tab>

  <mat-tab >
    <ng-template mat-tab-label>
      <mat-icon style="margin: 4px">assignment_ind</mat-icon>

      Delegates
    </ng-template>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="margin: 4px">settings</mat-icon>
      Settings
    </ng-template>

  </mat-tab>
</mat-tab-group>
