<div class="row" style="margin-top: 20px">
  <div class="col-md-2 titleCol">
    <h1>Deals</h1>
  </div>
  <div class="col-8">
    <mat-form-field appearance="fill" style="margin-right: 20px">
      <mat-label>Segment: All</mat-label>
      <mat-select disableRipple>
        <mat-option value="1">Option 1</mat-option>
        <mat-option value="2">Option 2</mat-option>
        <mat-option value="3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin-right: 20px">
      <mat-label>Assignee: All</mat-label>
      <mat-select disableRipple>
        <mat-option value="1">Option 1</mat-option>
        <mat-option value="2">Option 2</mat-option>
        <mat-option value="3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin-right: 20px">
      <mat-label>Status: All</mat-label>
      <mat-select disableRipple>
        <mat-option value="1">Option 1</mat-option>
        <mat-option value="2">Option 2</mat-option>
        <mat-option value="3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" style="width: 14rem">
      <mat-label>Search by name or flag</mat-label>
      <span matPrefix class="searchBar"
        ><mat-icon matSuffix>search</mat-icon></span
      >
      <input type="text" matInput [(ngModel)]="filterText" />
    </mat-form-field>
  </div>
  <div class="col-2" >
    <button class="btn" [ngClass]="{'addBtnMobile': isMobile, 'addBtn': !isMobile}"> 
      <i class="fa-solid fa-circle-plus" ></i> ADD DEAL
    </button>
  </div>
</div>

<div class="row">

  <div class="col-md-12">
    <div cdkDropListGroup>
      <div class="row" style="display: flex; justify-content: center">
        <div class="col-md-2" [ngClass]="{'phoneColWidth': isMobile}">
          <!-- Potential value -->
          <div class="example-container">
            <h2>Potential value</h2>

            <div
            [ngClass]="{'phoneWidth': isMobile}"
              cdkDropList
              [cdkDropListData]="potentialValue"
              class="example-list"
              (cdkDropListDropped)="drop($event)"
            >
              <div
                class="card"
                style="width: 15.4rem"
                *ngFor="let client of potentialValue | filter:filterText"
                cdkDrag
              >
                <div class="card-body">
                  <h5 class="card-title">{{ client.company }}</h5>
                  
                  <h6 class="card-subtitle mb-2 text-muted">
                    <span class="badge bg-secondary">{{ client.state }} </span> &nbsp;
                    <span class="badge bg-primary">{{ client.probability_status }}</span>
                  </h6>
                  <p class="card-text">
                    {{ client.first_name }} {{ client.last_name }}
                   </p>
                   <p class="card-text">
                    <span class="material-icons phoneIcon" >phone</span>
                    {{ client.phone }}
                  </p>
                  <p class="card-text">
                    <span class="material-icons mailIcon">email</span>
                    {{ client.email }}
                  </p> 
                  <p class="card-text">
                    <span class="material-icons dateIcon">calendar_today</span>
                    {{ client.date }}</p>
                    <span class="badge bg-success">{{client.status}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 " [ngClass]="{'phoneColWidth': isMobile}">
          <!-- Focus -->
          <div class="example-container">
            <h2>Focus</h2>
            <div
            [ngClass]="{'phoneWidth': isMobile}"
              cdkDropList
              [cdkDropListData]="focus"
              class="example-list"
              (cdkDropListDropped)="drop($event)"
            >
              <div
                class="card"
                style="width: 15.4rem"
                *ngFor="let client of focus | filter:filterText"
                cdkDrag
              >
                <div class="card-body">
                  <h5 class="card-title">{{ client.company }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                    <span class="badge bg-secondary">{{ client.state }} </span> &nbsp;
                    <span class="badge bg-primary">{{ client.probability_status }}</span>
                  </h6>
                  <p class="card-text">
                    {{ client.first_name }} {{ client.last_name }}
                   </p>
                   <p class="card-text">
                    <span class="material-icons phoneIcon" >phone</span>
                    {{ client.phone }}
                  </p>
                  <p class="card-text">
                    <span class="material-icons mailIcon">email</span>
                    {{ client.email }}
                  </p> 
                  <p class="card-text">
                    <span class="material-icons dateIcon">calendar_today</span>
                    {{ client.date }}</p>
                    <span class="badge bg-danger">{{client.status}}</span>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2" [ngClass]="{'phoneColWidth': isMobile}">
          <!-- Contact Made -->
          <div class="example-container">
            <h2>Contact Made</h2>
            <div
            [ngClass]="{'phoneWidth': isMobile}"
              cdkDropList
              [cdkDropListData]="contactMade"
              class="example-list"
              (cdkDropListDropped)="drop($event)"
            >
              <div
                class="card"
                style="width: 15.4rem"
                *ngFor="let client of contactMade | filter:filterText"
                cdkDrag
              >
                <div class="card-body">
                  <h5 class="card-title">{{ client.company }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                    <span class="badge bg-secondary">{{ client.state }} </span> &nbsp;
                    <span class="badge bg-primary">{{ client.probability_status }}</span>
                  </h6>
                  <p class="card-text">
                    {{ client.first_name }} {{ client.last_name }}
                   </p>
                  <p class="card-text">
                    <span class="material-icons phoneIcon" >phone</span>
                    {{ client.phone }}
                  </p>
                  <p class="card-text">
                    <span class="material-icons mailIcon">email</span>
                    {{ client.email }}
                  </p> 
                  <p class="card-text">
                    <span class="material-icons dateIcon">calendar_today</span>
                    {{ client.date }}</p>
                    <span class="badge bg-warning text-dark">{{client.status}}</span>


                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2" [ngClass]="{'phoneColWidth': isMobile}">
          <!-- Offer sent -->
          <div class="example-container">
            <h2>Offer sent</h2>
            <div
            [ngClass]="{'phoneWidth': isMobile}"
              cdkDropList
              [cdkDropListData]="offerSent"
              class="example-list"
              (cdkDropListDropped)="drop($event)"
            >
              <div
                class="card"
                style="width: 15.4rem"
                *ngFor="let client of offerSent | filter:filterText"
                cdkDrag
              >
                <div class="card-body">
                  <h5 class="card-title">{{ client.company }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                    <span class="badge bg-secondary">{{ client.state }} </span> &nbsp;
                    <span class="badge bg-primary">{{ client.probability_status }}</span>
                  </h6>
                  <p class="card-text">
                    {{ client.first_name }} {{ client.last_name }}
                   </p>
                  <p class="card-text">
                    <span class="material-icons phoneIcon" >phone</span>
                    {{ client.phone }}
                  </p>
                  <p class="card-text">
                    <span class="material-icons mailIcon">email</span>
                    {{ client.email }}
                  </p> 
                  <p class="card-text">
                    <span class="material-icons dateIcon">calendar_today</span>
                    {{ client.date }}</p>
                    <span class="badge bg-info text-dark">{{client.status}}</span>
                    

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2" [ngClass]="{'phoneColWidth': isMobile}">
          <!-- Getting Ready -->
          <div class="example-container">
            <h2>Getting Ready</h2>
            <div
            [ngClass]="{'phoneWidth': isMobile}"
              cdkDropList
              [cdkDropListData]="gettingReady"
              class="example-list"
              (cdkDropListDropped)="drop($event)"
            >
              <div
                class="card"
                style="width: 15.4rem"
                *ngFor="let client of gettingReady | filter:filterText"
                cdkDrag
              >
                <div class="card-body">
                  <h5 class="card-title">{{ client.company }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                    <span class="badge bg-secondary">{{ client.state }} </span> &nbsp;
                    <span class="badge bg-primary">{{ client.probability_status }}</span>
                  </h6>
                  <p class="card-text">
                    {{ client.first_name }} {{ client.last_name }}
                  </p>
                  <p class="card-text">
                    <span class="material-icons phoneIcon" >phone</span>
                    {{ client.phone }}
                  </p> 
                  <p class="card-text">
                    <span class="material-icons mailIcon">email</span>
                    {{ client.email }}
                  </p> 
                  <p class="card-text">
                    <span class="material-icons dateIcon">calendar_today</span>
                    {{ client.date }}</p>

                    <span class="badge bg-light text-dark">{{client.status}}</span>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
